body, footer, header {
     font-family: lato;
}

/*HEADER*/
.logo {
    margin: 20px auto;
    display: block;
}

.first_nav>ul {
    display: inline-block;
}
.ul {
    width: 100%;
}

.first_nav>ul {
    width: 56%;
    margin:50px auto;
    display: block;
}

.first_nav>ul>li {
    display: inline-block;
      padding-left: 4.2%;
}
.first_nav>ul>li>a {
    text-decoration: none;
    font-size: 14px;
    color: #000;
}

/*TOP HEADER*/
.top-header {
    background: url(../img/carou2.jpg);
    width: 100%;
    height: 386px;
    background-size: cover;
}

.top-header h2 {
    font-size: 30px;
    padding: 15px;
    border: solid white;
    text-align: center;
    color: white;
    width: 246px;
    margin:auto;
    position: relative;
    top: 120px;
}

.top-header img{
    margin:auto;
    display: block;
    width: 100px;
}

/*PRODUITS*/
.produits {
    width: 100%;
    margin: auto;
    display: block;
}

.produits section article {
    display: inline-table;
    width: 300px;
    margin: 50px 37px;
}

.produits section,article,h2,p {
    text-align: center;
}

.produits h2 {
    padding: 15px;
}

.produits p {
    font-family: sans-serif;
}

.arrow {
    width: 100px;
        margin:auto;
    display: block;
        position: relative;
    top: 170px;
}

/*UNDER*/
.under {
    margin-top: 100px;
    margin-bottom: 200px;
    background: url(../img/under.jpg);
    background-size: cover;
    width: 100%;
    height: 346px;
}

.title-first {
    width: 71%;
    height: 100%;
    float: left;
}

.title-first h3 {
    width: 335px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 40px;
    text-align: center;
    margin: 50px 143px;
    padding: 15px;
    font-family: sans-serif;
}

.title-second {
    width: 27%;
    height: 100%;
    float: right;
}

.title-second h3 {
    text-align: center;
    font-size: 30px;
    font-family: sans-serif;
    margin-top: 45px;
}


/*FOOTER*/
.footer {
    width: 100%;
    padding: 80px 0;
    background: #f9f9f9;
}

.reso {
    clear: both;
    margin: auto;
    display: block;
}

.reso>li {
    display: inline-block;
    margin-left: 3.6%;
}
small {
    display: block;
    width: 40%;
    margin: 2%;
    font-size: 11px;
    text-align: center;
}


/*POP UP*/
.close {
    margin: auto;
    display:block;
}

    /*POP UP 1*/
    .popup-1 {
        width: 95%;
        margin: auto;
        position: fixed;
    }
    .background-popup {
        background: url(../img/pop1.jpg) no-repeat;
        background-size: cover;
        width: 100%;
        height: 457px;
    }

    .background-popup h1 {
        text-align: right;
        position: relative;
        top: 345px;
        right: 100px;
        font-size: 100px;
    }




